langchain-community>=0.2.1
qdrant-client>=1.9.1
rerankers[transformers]>=0.3.0
sentence-transformers>=2.7.0
unstructured>=0.14.2
python-docx>=1.1.2
chromadb>=0.5.0
faiss-gpu>=1.7.2
langchain>=0.2.1
Markdown>=3.6
beautifulsoup4>=4.12.3
langchain-experimental>=0.0.59
nltk>=3.8.1
fastembed>=0.2.7
pymilvus>=2.4.1
docarray>=0.40.0
faiss-cpu>=1.8.0
unstructured[pdf]>=0.14.2